@media (max-width: 1199px)
  .container
    width: 970px
  .slider
    &__item
      img
        max-width: 95%
  .callback
    &__form
      margin-left: 65px

  .contacts
    padding-left: 65px
@media (max-width: 992px)
  .form
    margin: auto
  .container
    width: 767px
  .main
    &-text
      &__title
        font-size: 30px
        line-height: 36px
  .feedback
    text-align: center
    background: #fff

  .callback
    paddingt: 0
    background: none
    &:before
      width: 60%
    &__questions
      margin-left: 5px
    &__title
      width: 450px
    &__form
      display: flex
      justify-content: center
      align-items: center
      margin-left: 35px
      &-input
        width: 90%
        margin-right: 0 !important
      &-button
        margin-left: 15px
        width: 90%

  .price
    &-experts
      flex-wrap: wrap
      justify-content: space-between
  .step
    &__arrow
      display: none

  .footer
    flex-direction: column
  .map
    width: 100%
  .contacts
    margin: 0 auto
    &__title
      margin: 20px auto
    &__info
      display: flex
      flex-direction: row
  .info
    margin-right: 40px

  .aid
    padding: 5px
    &__text
      margin-left: 0
      width: 100%
      text-align: justify
  .garanty
    width: 30%
    &__text
      font-size: 16px
      &-2
        width: 250px
    &__img
      padding: 15px
      width: 220px
@media (max-width: 768px)
  .hidden-xs
    display: none
  .container
    width: 95% 
  .main
    &-wrap
      flex-direction: column
    &-text
      max-width: 400px
      margin: auto
      &__title
        text-align: center
  .form
    &__input
      &:first-child
        margin-right: 0
    &__manage-team
      display: flex
      flex-direction: column
      align-items: center
    &__manager
      margin-right: 0
      margin-bottom: 20px
    &__contacts
      display: flex
      flex-direction: column
      align-items: center
      &:before
        display: none

  .section
    &-title
      font-size: 20px

  .callback
    &:before
      content: ''
      left: 0
      top: 0
      width: 100%
      height: 50%
      background-color: #ffc000
    &__wrap
      flex-direction: column
      justify-content: center
      align-items: center
    &__questions
      background-color: #ffc000
    &__form
      &-button
        margin: 0 auto
        margin-bottom: 33px

  .price
    &-experts
      justify-content: space-around
  .step
    min-width: 50%

  .text
    &__title
      font-size: 18px
      +semibold

  .contacts
    &__info
      flex-direction: column
  .info
    margin-right: 0

  .duties
    padding: 80px
  .support
    &-wrap
      flex-direction: column
      align-items: center
      justify-content: center
  .aid
    padding: 5px
    width: 100%
    margin-bottom: 20px
  .garanties
    &__title
      width: 100%
      line-height: 30px
      margin-bottom: 10px
      // width: 515px
      // margin: 58px auto
      // margin-top: 0
    &-wrap
      flex-direction: column
      align-items: center
      justify-content: center
  .garanty
    width: 100%
    margin-bottom: 20px
    &__img
      margin-bottom: 10px
@media (max-width: 576px)
  .header
    &-text
      display: flex
      flex-direction: column
      justify-content: flex-end
      &__contacts
        margin-right: 0
      &__phone
        font-size: 16px
  .main
    &-text
      &__title
        font-size: 24px
      &__subtitle
        font-size: 13px !important

  .form
    display: flex
    flex-direction: column
    &__title
      font-size: 20px
    &__input
      width: 80%
      &:first-child
        margin-right: 0
    &__button
      font-size: 11px !important
      padding: 18px
      width: 80%
      margin: 0 auto
    &__manage-team
      display: flex
      flex-direction: column
      align-items: center
    &__manager
      margin-right: 0
      margin-bottom: 10px
    &__contacts
      display: flex
      flex-direction: column
      align-items: center
      &:before
        margin-right: 0
        margin-bottom: 10px

  .callback
    width: 100%
    justify-content: space-between
    &:before
      height: 50%
    &__questions
      display: flex
      flex-direction: column
      width: 100% 
    &__title
      text-align: center
      width: 300px
      font-size: 20px
      margin-bottom: 20px
    &__subtitle
      margin-bottom: 20px
    &__item
      width: 300px
      margin-bottom: 25px
    &__form
      width: 100%
      margin-left: 0
      align-items: center
      &-title
        width: 300px
        font-size: 20px
        margin-bottom: 20px
      &-subtitle
        margin-bottom: 20px
      &-input
        width: 80%
      &-button
        width: 80%
        margin: 0 auto
        margin-bottom: 33px
      &__footer
        width: 300px

  .portfolio
    padding-top: 10px
    &__title
      line-height: 30px

  .feedback
    padding-bottom: 30px
    padding-top: 30px

  .price
    padding-top: 10px
    padding-bottom: 30px
    &-experts
      justify-content: center
      align-items: center
      flex-direction: column
    &__title
      font-size: 18px
      width: 80%
      line-height: 30px
    &__subtitle
      font-size: 14px

  .text
    padding: 16px
    &__title
      font-size: 14px !important
      line-height: 30px

  .map
    order: 2
  .contacts
    order: 1
    padding-top: 0
    &__title
      font-size: 18px

  .duties
    width: 100%
    padding: 0
    padding-top: 20px
    padding-bottom: 20px
  .support
    &-wrap
      flex-direction: column
      justify-content: center
      align-items: center
  .aid
    width: 250px
    margin-bottom: 20px
  .garanties
    &-wrap
      flex-direction: column
    &__title
      font-size: 18px
      width: 100%
      line-height: 30px
      // text-align: center
      // // width: 100%
      // width: 270px
      // margin: 0 !important
      // font-size: 18px
      // margin-bottom: 20px
      // font-size: 18px
      // width: 270px
      // line-height: 30px
  .garanty
    margin-bottom: 15px
    width: 100%